<?xml version="1.0" ?>
<robot name="ackerman_simple" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find description)/urdf/gazebo.xacro" />
    <xacro:include filename="$(find description)/urdf/ros2_control.xacro" />
    <xacro:include filename="$(find description)/urdf/ack.xacro" />

</robot>