<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="AckermanSystem" type="system">

    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="BL_WHEEL_JOINT">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="BR_WHEEL_JOINT">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="FL_STEERING_JOINT">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin
      filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">

      <parameters>
        $(find description)/config/ros2_controllers.yaml
      </parameters>

    </plugin>
  </gazebo>

</robot>